body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
}
h1{
    font-size: 50px;
}
.orange-color{

    color: darkorange;
}
section{
    display: flex;
}
.paglu{
    width: 50%;
    padding-left: 5%;
}
.paglu img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
    
}